body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
}


.main-lost {
    display: flex;
    background-color: #18153e;
    min-width: 100vw;
    filter: opacity(0.75);
    text-align: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
}


.text-lost {
    line-height: 0;
    font-family: 'Arial';
    font-size: 45em;
    margin: 0;
    color: #18153e;
    text-shadow: 0px 15px 30px black;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.description-lost {
    display: flex;
    text-align: center;
    position: absolute;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title-lost {
    color: white;
    margin: 0;
    font-size: 9em;
    line-height:1.2; 
}

.subtitle-lost {
    color: white;
    margin: 0;
    font-size: 2.5em;
}

.home {
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
    border: 2px solid #ff8522;
    border-radius: 500px;
    background-color: #ff8522;
    text-transform: uppercase;
    font-weight: bold;
    display: table;
    margin: auto;
    padding: 2px 20px;
    margin-top: 1em;
}

.home:hover {
    background-color: transparent;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}