* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(rgb(24, 21, 62)0%, rgb(16, 16, 16) 85%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
}
.main-header-home,
#main-content-home,
.main-player-home {
    position: fixed;
}
.user-header {
    width: 14vw;
}
.header-inner-home {
    width: 90%;
    margin: auto;
}
#main-content-home {
    background-color: white;
    margin: 0;
    margin-left: 14vw;
    width: 86vw;
    height: 90vh;
    overflow-y: scroll;
    color: #101010;
}
.main-player-home {
    bottom: 0;
    margin-left: 22vw;
    height: 10vh;
    width: 86vw;
    background-color: rgb(16, 16, 16);
}


.home-title {
    color: #ff8522;
    border-bottom: 2px solid #18153E;
    display: inline-block;
}

#content-home {
    margin-left: 8%;
    margin-right: 8%;
}

.welcome-home {
    text-align: left;
    min-height: 150px;
    webkit-box-shadow: 0px 6px 51px -14px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 6px 51px -14px rgba(0,0,0,0.58);
    box-shadow: 0px 6px 51px -14px rgba(0,0,0,0.58);
    margin-bottom: 100px;
}

.main-title-home {
    font-size: 4em;
    padding: 37px 80px;
    font-weight: 400;;
}

.chanson-list p {
    display: flex;
    flex-direction: column;
}

#search {
    text-align: center;
}

.chanson-author {
    color: black;
}
.profile-title {
    padding: 0;
    font-weight: bold;
}

#input-src {
    border-radius : 500px;
    background-color: #fff;
    border: 2px solid #fff;
    padding-left: 10px;
    font-style: italic;
    font-weight: 300;
    color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
}

#btn-src {
    display: none;
}