/* General Style */

* {
    box-sizing: border-box;
    cursor: auto;
}

html,
body,
ul {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.75;
    color: white;
    cursor: default;
}

a {
    text-decoration: none;
    cursor: pointer;
}

span {
    color: #ff8522;
}

/* Form Style */

fieldset {
    border: none;
    border-bottom: 2px solid #ff8522;
    padding-bottom: 0;
    margin-bottom: 20px;
    padding-left: 0;
}

#name,
#password,
#email,
#email-reset,
#confirm-mail,
#password-confirm {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    border: none;
    padding-bottom: 0;
    font-weight: 300;
    width: 100%;
}

#song-name,
#style,
#username,
#new-password,
#song-file-label {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    border: none;
    padding-bottom: 0;
    font-weight: 300;
    width: 100%;
    color: #8e8e8e;
    font-size: 12pt;
    background-color: #f5f5f5;
}

#song-file-label {
    cursor: pointer;
}

#choose-image-label {
    color: white;
    width: 266px;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgb(24, 21, 62) 0%, rgb(16, 16, 16) 85%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#change-avatar-label {
    color: white;
    width: 100px;
    height: 100px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#choose-file,
#choose-image,
#change-avatar {
    display: none;
}

#last-field {
    padding-right: 0;
    border-bottom: none;
}

/* Header Home-Register-Login Style */

.main-header {
    position: absolute;
    color: white;
    background: #52525000;
    width: 100%
}

.header-inner {
    display: table;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px 25px;
}

.header-inner > * {
    display: table-cell;
    vertical-align: middle;
}

.header-nav {
    text-align: right;
}

.header-logo {
    width: 70px;
}

.header-logo a img {
    cursor: pointer;
}

.site-title {
    font-weight: 400;
    font-size: 1.4em;
    cursor: pointer;
    display: inline-block;
}

.site-title span {
    font-weight: 600;
    cursor: pointer;
}

.header-nav ul,
.header-nav li {
    display: inline;
    list-style: none;
    text-transform: uppercase;
}

.header-nav a {
    position: relative;
    display: inline-block;
    padding: 2px 20px;
    vertical-align: middle;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.9em;
}

.first-menu {
    padding-right: 5%;
}

/* Connexion Page Style */

.connexion {
    border: 2px solid white;
    border-radius: 500px;
    background-color: transparent;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.connexion:hover {
    background-color: white;
    color: black;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.main-connexion {
    margin: auto;
    background-color: white;
    padding: 2em;
    border-radius: 20px;
    color: black;
}

.main-connexion h1 {
    text-align: center;
    color: black;
    font-weight: 400;
}

#login {
    border: none;
    margin: auto;
}

.background {
    text-align: center;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
}

.background:before {
    border-top: 1px solid black;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
}

.double-line {
    color: black;
    background: #fff;
    padding: 0 15px;
    font-weight: 400;
}

.facebook {
    display: flex;
    justify-content: center;
    align-content: center;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
    border: 2px solid #3b5998;
    border-radius: 500px;
    background-color: #3b5998;
    text-transform: uppercase;
    color: white;
    padding: 5px 20px;
    font-weight: 400;
}

.facebook:hover {
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
    background-color: white;
    color: #3b5998;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label {
    background: white;
    height: 20px;
    width: 20px;
    display: inline-flex;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
    border: 1px solid #ff8522;
    border-radius: 5px;
    cursor: pointer;
}

input[type=checkbox]:checked + label {
    background: #ff8522;
    background-image: url(../images/check_white.svg);
    height: 20px;
    width: 20px;
    display: inline-flex;
    padding: 0 0 0 0;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.remember {
    color: #717171;
    font-weight: 300;
    margin-left: 2%;
    margin-bottom: 2%;
}

.remember label {
    cursor: pointer;
}

/* Inscription Page Style */

.inscription {
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
    border: 2px solid #ff8522;
    border-radius: 500px;
    background-color: #ff8522;
}

.inscription:hover {
    background-color: transparent;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

.main-inscription {
    margin: auto;
    background-color: white;
    border-radius: 20px;
    color: black;
    padding: 2em;
}

.main-inscription h1 {
    text-align: center;
    color: black;
    font-weight: 400;
}

#submit-register {
    font-family: 'Raleway', sans-serif;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
    border: 2px solid #ff8522;
    border-radius: 500px;
    background-color: #ff8522;
    text-transform: uppercase;
    padding: 5px 20px;
    line-height: 28px;
    color: white;
    width: 100%;
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;
}

#submit-register:hover {
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
    background-color: white;
    color: #ff8522;
}

/* Landing Home Page Style */

.main-landing {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
}

.main-landing-black {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
}

.text-landing {
    border-left: 5px solid white;
    margin: auto;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.title-landing,
.subtitle-landing {
    text-align: justify;
    padding-left: 40px;
}

.title-landing {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    line-height: 1.1;
    font-size: 5.5em
}

.subtitle-landing {
    color: #ff8522;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 1.8em;
}

.text-landing ul {
    list-style-type: none;
    padding-left: 40px;
}

.text-landing ul li {
    font-weight: 600;
    display: block;
    font-size: 1.5em;
}

.text-landing ul li img {
    width: 10%;
    height: auto;
    vertical-align: middle;
}

.home {
    text-decoration: none;
    color: white;
    display: inline-block;
}

/* General Syle Logged */

.blue-title {
    color: #18153e;
}

.italic-paragraph {
    text-align: center;
    font-size: 0.6em;
    font-style: italic;
}

.p-center {
    text-align: center;
}

.link-orange {
    text-decoration: none;
    color: #ff8522;
    transition: all 300ms ease-in-out;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.link-orange:hover {
    color: #18153E;
    transition: all 300ms ease-in-out;
    border-bottom: 2px solid #ff8522;
    font-weight: 800;

}

.link-orange p {
    cursor: pointer;
    transition: all 300ms ease-in-out;
    border-bottom: 1px solid transparent;
}

.link-orange p:hover {
    color: #18153E;
    transition: all 300ms ease-in-out;
    border-bottom: 2px solid #ff8522;
}

#submit-log {
    font-family: 'Raleway', sans-serif;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
    border: 2px solid #ff8522;
    border-radius: 500px;
    background-color: #ff8522;
    text-transform: uppercase;
    padding: 5px 10px;
    color: white;
    float: right;
    font-size: 1em;
    cursor: pointer;
}

#submit-log:hover {
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
    background-color: white;
    color: #ff8522;
}

#submit-reset {
    font-family: 'Raleway', sans-serif;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
    border: 2px solid #ff8522;
    border-radius: 500px;
    background-color: #ff8522;
    text-transform: uppercase;
    padding: 5px 10px;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

#submit-reset:hover {
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
    background-color: white;
    color: #ff8522;
}

.reset-center {
    text-align: center;
}

.button-submit {
    text-align: center;
}

/* Home Logged Page - Menu - */

.main-header-home {
    margin-left: 2%;
    min-width: 15%;
    margin-top: 30px;
    position: fixed;
}

.header-logo-home {
    border-bottom: 2px solid #ff8522;
    width: 90%;
    margin-top: 10%;
    padding-bottom: 20px;
}

.header-logo-home a img {
    cursor: pointer;
}

.site-title-home {
    font-weight: 400;
    font-size: 1.4em;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding-left: 10px;
}

.site-title-home span {
    font-weight: 600;
    cursor: pointer;
}

.user-account {
    margin-top: 15%;
    margin-bottom: 10%;
}

.user-avatar {
    border-radius: 50%;
    height: 50px;
    width: auto;
    vertical-align: middle;
    cursor: pointer;

}

.user-name {
    display: inline;
    color: white;
    font-weight: 600;
    padding-left: 10px;
    cursor: pointer;
    transition: color 300ms ease-in-out;
}

.user-name:hover {
    transition: color 300ms ease-in-out;
    color: #ff8522;
}

.nav-menu {
    margin-top: 10%;
    margin: auto;
}

.nav-menu ul {
    list-style: none;
}

.nav-menu ul li {
    padding-bottom: 25px;
}

.link-menu-home {
    text-decoration: none;
    color: white;
    transition: color 300ms ease-in-out;
    font-size: 1.2em;

}

.link-menu-home:focus {
    color: #ff8522;
    transition: color 300ms ease-in-out;
}

.link-menu-home:hover {
    transition: color 300ms ease-in-out;
    color: #ff8522;
}

.link-menu-home:active {
    color: #ff8522;
}

#link-to-home::before {
    padding-right: 20px;
    content: url(../images/house.svg);
    background-size: 20px;
}

#link-to-home::before img {
    witdh: 20px;
}

#link-to-music::before {
    padding-right: 20px;
    content: url(../images/musique.svg);
}

#link-to-playlist::before {
    padding-right: 20px;
    content: url(../images/playlist.svg);
}

#link-to-follow::before {
    padding-right: 20px;
    content: url(../images/abonnements.svg);
}

#link-to-notif::before {
    padding-right: 20px;
    content: url(../images/user.svg);
}

#link-to-exit::before {
    padding-right: 20px;
    content: url(../images/logout.svg);
}

.player-home {
    position: fixed;
    bottom: 0;
    margin-left: 17%;
    width: 83%;
    display: flex;
}

#main-content-home::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 12px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

#main-content-home::-webkit-scrollbar {
    position: fixed;
    width: 15px;
    background-color: #ffffff;
}

#main-content-home::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: #DAB3EA;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* Player Style */

.chanson-pochette {
    height: 90px;
    width: 90px;
    float: left;
}

.chanson-titre, .artiste-playing {
    margin-left: 100px;

}

.chanson-titre {
    font-size: 1.1em;
    font-weight: 600;
    padding-top: 15px;
    line-height: 1.2;
}

.artiste-playing a {
    font-size: 1em;
    color: #fff;
    font-weight: 200;
    transition: color 300ms ease-in-out;
}

.artiste-playing a:hover {
    color: #ff8522;
    transition: color 300ms ease-in-out;
}

.chanson-artiste em {
    display: none;
}

.chanson {
    color: white;
    text-decoration: none;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    text-align: left;
}

.chanson img {
    cursor: pointer;
    position: relative;
}

.chanson-folder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.chanson-list {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    margin-top: 20px;
    max-width: 165px;

}

.chanson b {
    cursor: pointer;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

.chanson em {
    cursor: pointer;
    color: #000;
    font-style: normal;
    line-height: 0.8;
}

.player {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

.player p {
    margin: 0 15px;
}

.progressbar {
    display: flex;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 26px;
    height: 3px;
    cursor: pointer;
    background-color: #858585;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff8522), color-stop(100%, #e5771f));
    background-size: 50% 100%;
    background-repeat: no-repeat;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}

input[type="range"]:hover {
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
    background-color: #ffffff;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 0;
    height: 0;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out, border 300ms ease-in-out;
}

.progressbar:hover input[type="range"]::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #fff;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out, border 300ms ease-in-out;
}

.btn-prev,
.btn-next,
.btn-plps,
.btn-mute {
    display: inline-block;
    height: 16px;
    padding: 0;
    margin: 0 8px;
    vertical-align: top;
    width: 16px;
    background-color: transparent;
    border: none;
}

button:focus {
    outline: 0;
}

input:focus {
    outline: 0;
}

select:focus {
    outline: 0;
}

select {
    cursor: pointer;
}

.time-prog {
    width: 600px;
}

.slider-vol {
    width: 80px;
}

.btn-prev {
    background-image: url('../images/prev.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.btn-next {
    background-image: url('../images/next.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.btn-plps {
    background-image: url('../images/play.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

}

.btn-mute {
    margin-left: 40px;
    background-image: url('../images/sound.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#current-time {
    width: 40px;
    font-family: sans-serif;
}

.duration {
    width: 40px;
    font-family: sans-serif;
}

#song-playing {
    width: 210px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

.player-controller {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-main {
    justify-content: center;
    align-items: center;
}

.song-controller {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Upload Page */

.upload-file {
    font-family: 'Raleway', sans-serif;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
    border: 2px solid #ff8522;
    border-radius: 500px;
    background-color: #ff8522;
    text-transform: uppercase;
    padding: 10px 30px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
    margin-top: 30px;
}

.upload-file:hover {
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
    background-color: white;
    color: #ff8522;
}

.grey-background {
    padding: 60px;
    background-color: #f5f5f5;
    display: flex;
}

.grey-background fieldset {
    margin-right: 15%;
}

.form-upload-left {
    width: 40%;
    position: relative;
    text-align: center;
}

/* Profile Page */

.user-profil-avatar {
    border-radius: 500px;
    width: 150px;
    height: 150px;
    clip-path: url(#svgPath);
}

.profile-home {
    display: flex;
    padding-top: 25px;
    padding-bottom: 35px;
    padding-left: 15%;
}

.flex-profile {
    display: flex;
    flex-direction: column;
}

.profile-follow {
    display: flex;
    flex-direction: row;
}

.profil-div-right {
    margin-left: 10px;
}

.reduce-line {
    line-height: 1.1;
}

.setting {
    outline: none;
    cursor: pointer;
    height: 1px;
}

.setting img {
    cursor: pointer;
}

#settings {
    padding: 60px;
    background-color: #f5f5f5;
    display: flex;

}

#modif-profil {
    font-family: 'Raleway', sans-serif;
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
    border: 2px solid #ff8522;
    border-radius: 500px;
    background-color: #ff8522;
    text-transform: uppercase;
    padding: 10px 10px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    margin-top: 30px;
}

#modif-profil:hover {
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
    background-color: white;
    color: #ff8522;
}

.follow {
    background-color: #18153e;
    color: #fff;
    text-decoration: none;
    padding: 2px 40px;
    margin-right: 30px;
    border: 2px solid #18153e;
    border-radius: 500px;
    font-weight: 600;
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}

.follow:hover {
    background-color: #fff;
    color: #18153e;
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}

#genre {
    color: #000;
    font-weight: 400;
    font-style: normal;
}

#left-border-profile {
    padding-right: 10px;
    line-height: 1.2;
}

#right-border-profile {
    border-left: 2px solid #18153e;
    padding-left: 10px;
    line-height: 1.2;
}

/* Search Page */

.search-main {
    display: flex;
    justify-content: space-between;
}

.flex-search {
    width: 33%;
}

.flex-search div {
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}

.flex-search div div {
    padding: 10px;
    line-height: 1.2;
    height: 210px;
    webkit-box-shadow: 0px 6px 51px -14px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 0px 6px 51px -14px rgba(0, 0, 0, 0.58);
    box-shadow: 0px 6px 51px -14px rgba(0, 0, 0, 0.58);
}

.chanson-search {

    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
}

.result-user {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    margin-top: 20px;
    width: 165px;
    max-width: 165px;
    border: 2px solid black;
}

.result-user p {
    font-size: 8pt;
}

.username {
    cursor: pointer;
    color: #000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    font-weight: 700;
}

.search-title {
    color: #ff8522;
    font-size: 1.4em;
}